<div class="container flex-container">
    
    <div class="flexslider" id="home-slider">   

      <ul class="slides">
        <li>
          <%= image_tag "slides/Loyal.jpg", :alt => "Slide Images" %>
          <div class="flex-caption">
            <h2>Slide Images</h2>
            <p>This theme uses Flexslider which is responsive and allows you to slide images, text, even videos!</p>
          </div>
        </li>
        <li>
          <%= image_tag "slides/batu karang Jesus.jpg", :alt => "Slide Images" %>
          <div class="flex-caption">
            <h2>Packed with features</h2>
            <p>This theme comes bundled with lots of easy to use features including tabs, toggles, accordions, alerts, pricing tables, and hundreds of icons!</p>
          </div>
        </li>
        <li>
          <%= image_tag "slides/diff.jpg", :alt => "Slide Images" %>
          <div class="flex-caption">
            <h2>Packed with features</h2>
            <p>This theme comes bundled with lots of easy to use features including tabs, toggles, accordions, alerts, pricing tables, and hundreds of icons!</p>
          </div>
        </li>
      </ul>

    </div> <!-- /.flexslider -->
   
  </div> <!-- /.container -->    

  <div class="blurb section">

    <div class="container">

      <h1><span>Your site slogan goes in this eye-catching space</span></h1>
      <p>attract your users attention with some important information</p>

    </div> <!-- /.container -->

  </div> <!-- /.blurb -->

  <div class="container">

    <section class="recent section">
          
      <h2 class="header"><span>Latest Events</span></h2>
      <div class="row-fluid">
        
        <div class="span4">

          <article class="portfolio">
            <a href="portfolio-single.html">
              <div class="holder">
                <div class="mask"></div>
                <div class="type">
                  <i class="icon icon-picture"></i>
                </div>
                <%= image_tag "2nd chance.jpg", :alt => "Slide Images" %>
                <div class="caption">
                  <p>Caption for project one</p>
                </div>
              </div>
            </a>
              
            <div class="text">
              
              <h6>2nd Chance</h6>
              <p>Some info for project one</p>
              <a class="more" href="portfolio-single.html">&gt;</a>

            </div> <!-- /.text -->
            
          </article>
            
        </div> <!-- /.span4 --> 

        <div class="span4">
                       
          <article class="portfolio">
            <a href="portfolio-single.html">
              <div class="holder">
                <div class="mask"></div>
                <div class="type">
                  <i class="icon icon-picture"></i>
                </div>
                <%= image_tag "gmb.jpg", :alt => "Slide Images" %>
                <div class="caption">
                  <p>Caption for project two</p>
                </div>
              </div>
            </a>
              
            <div class="text">
              
              <h6>Giving My Best</h6>
              <p>Some info for project two</p>
              <a class="more" href="portfolio-single.html">&gt;</a>

            </div> <!-- /.text -->
            
          </article>
           
        </div> <!-- /.span4 -->

        <div class="span4">
            
          <article class="portfolio">
            <a href="portfolio-single.html">
              <div class="holder">
                <div class="mask"></div>
                <div class="type">
                  <i class="icon icon-picture"></i>
                </div>
                <%= image_tag "life isnt mas.jpg", :alt => "Slide Images" %>
                <div class="caption">
                  <p>Caption for project three</p>
                </div>
              </div>
            </a>

            <div class="text">
              
              <h6>Life is not a masquerade</h6>
              <p>Some info for project three</p>
              <a class="more" href="portfolio-single.html">&gt;</a>

            </div> <!-- /.text -->
            
          </article>
            
        </div> <!-- /.span4 -->

      </div> <!-- /.row-fluid -->

    </section> <!-- /.recent -->

    <div class="row-fluid section">
      
      <div class="span6">

        <section class="blog">
  
          <h2 class="header"><span>News</span></h2>

          <div class="row-fluid">
            
            <div class="span6">

              &nbsp;
              
            </div> <!-- /.span6 -->

            <div class="span6">

              &nbsp;
              
            </div> <!-- /.span6 -->

          </div> <!-- /.row-fluid -->  

        </section> <!-- /.blog -->

      </div> <!-- /.blog -->

      <div class="span6">

        <section class="testimonials">
          
          <h2 class="header"><span>What they say</span></h2>
          
          <div class="testimonials-wrapper">

            <article class="testimonial">
              <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="author">
                <div class="image">
                  <%= image_tag "author.jpg" %>
                </div> <!-- /.image -->
                <div class="details">
                  <p>Joe Bloggs</p>
                  <span>Manager, Apple</span>
                </div> <!-- /.details -->               
              </div> <!-- /.author -->      
            </article> <!-- /.testimonial -->

            <article class="testimonial">
              <div class="text">
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
              </div>
              <div class="author">
                <div class="image">
                  <%= image_tag "author.jpg" %>
                </div> <!-- /.image -->
                <div class="details">
                  <p>Joe Bloggs</p>
                  <span>Manager, Apple</span>
                </div> <!-- /.details -->               
              </div> <!-- /.author -->
            </article>

          </div> <!-- /.testimonials-wrapper -->

        </section>

      </div> <!-- /.span6 --> 

    </div> <!-- /.row-fluid -->

  </div> <!-- /.container -->