<div class="container flex-container">
    
    <div class="flexslider" id="home-slider">   

      <ul class="slides">
        <li>
          <%= image_tag "slides/Loyal.jpg", :alt => "Slide Images" %>
          <div class="flex-caption">
            <h2>We Are Loyal</h2>
            <p>Consistency and Commitment are what we stand on</p>
          </div>
        </li>
        <li>
          <%= image_tag "slides/batu karang Jesus.jpg", :alt => "Slide Images" %>
          <div class="flex-caption">
            <h2>We Are Strong</h2>
            <p>God is source of our strength</p>
          </div>
        </li>
        <li>
          <%= image_tag "slides/diff.jpg", :alt => "Slide Images" %>
          <div class="flex-caption">
            <h2>We Are Different</h2>
            <p>We live our life differently in world changes</p>
          </div>
        </li>
      </ul>

    </div> <!-- /.flexslider -->
   
  </div> <!-- /.container -->    

  <div class="blurb section">

    <div class="container">

      <h1><span>A BRILIANTLY SIMPLE WAY TO BE AN INTEGRATE YOUTH</span></h1>

    </div> <!-- /.container -->

  </div> <!-- /.blurb -->

  <div class="container">

    <section class="recent section">
          
      <h2 class="header"><span>Latest Events</span></h2>
      <div class="row-fluid">
        <% if @events.blank? %>
          <p>- belum ada data -</p>
        <% end %>
        <% @events.each do |event| %>
          <div class="span4">

            <article class="portfolio">
              <a href="<%= event_url(event.id) %>">
                <div class="holder">
                  <div class="mask"></div>
                  <div class="type">
                    <i class="icon icon-picture"></i>
                  </div>
                  <%= image_tag event.event_picture.url(:medium), :alt => event.event_name %>
                  <div class="caption">
                    <p><%= event.event_name %></p>
                  </div>
                </div>
              </a>
                
              <div class="text">
                
                <h6><%= event.event_name %></h6>
                <p><%= event.event_short_desc %></p>
                <a class="more" href="<%= event_url(event.id) %>">&gt;</a>

              </div> <!-- /.text -->
              
            </article>
              
          </div> <!-- /.span4 --> 
        <% end %>

      </div> <!-- /.row-fluid -->

    </section> <!-- /.recent -->

    <div class="row-fluid section">
      
      <div class="span12">

        <section class="blog">
  
          <h2 class="header"><span>Devotions</span></h2>

          <div class="row-fluid">
            <% if @feed.blank? %>
              <div class="span12">
                <article class="item">
                  <p>- belum ada artikel -</p>
                </article>
              </div>
            <% else %>
              <% @feed.items.each_with_index do |item, i| %>
                <% if i <= 2 %>
                  <div class="span4">

                    <article class="item">

                      <h6><%= link_to item.title, item.link %></h6>
                      <p><%= item.date.strftime("%a, %d %B %Y") %></p>
                      <%= item.description.html_safe %>
                      <%= link_to "Read more", item.link, :class => "grey button" %>
                      
                    </article>
                    
                  </div> <!-- /.span6 -->
                <% end%>
              <% end %>
            <% end %>
          </div> <!-- /.row-fluid -->  

        </section> <!-- /.blog -->

      </div> <!-- /.blog -->

    </div> <!-- /.row-fluid -->

  </div> <!-- /.container -->