<div class="page-title">
    
    <div class="container">
      
      <h1 class="with-subtitle">Events</h1>
      <span><%= @event.event_name %></span>
        
    </div> <!-- /.container -->

  </div> <!-- /.page-title -->

  <div class="page-content">
    
    <div class="container">
      
      <div class="row-fluid section">
      
        <div class="span8">
          
          <div id="portfolio-slider" class="section">
            
            <ul class="slides">

              <li>
                <a href="#"><%= image_tag @event.event_picture.url(:big) %></a>
                <div class="flex-caption">
                  <h2><%= @event.event_name %></h2>
                    <p><%= @event.event_short_desc %></p>
                </div>
              </li>

            </ul>
            
          </div> <!-- /#portfolio-slider -->
          
        </div> <!-- /.span8 -->

        <div class="span4">
        
          <aside class="sidebar">

            <div class="widget">
              
              <h2 class="header"><span>Event Brief</span></h2>

              <p><strong><%= @event.event_desc %></strong></p>
              <% if @event.is_share && Date.today > @event.event_date %>
                <p>Jika ingin mengadakan event serupa, dapat menghubungi PIC dibawah ini untuk keterangan lebih lanjut.</p>
                <p>PIC: <%= @event.event_pic %><br>
                Phone: <%= @event.event_pic_phone %></p>
              <% end %>
            </div> <!-- /. -->        

          </aside>
    
        </div> <!-- /.span4 --> 

      </div> <!-- /.row-fluid -->

    </div> <!-- /.container -->

  </div> <!-- /.page-content -->