<div class="page-title">
    
    <div class="container">
      
      <h1 class="with-subtitle">About</h1>
      <span>A little about us</span>
        
    </div> <!-- /.container -->

  </div> <!-- /.page-title -->

  <div class="page-content">
    
    <div class="container">

      <h2 class="header"><span>Our Vision</span></h2>
        
      <div class="mission section">
              
        <div class="row-fluid">
        
          <div class="span12">

            <p>Menjadi anak muda Kristen yang <span>bertumbuh</span>, <span>berintegritas</span> dan <span>memahami hakekat hidup Kristiani</span> lewat media online</p>

          </div> <!-- /.span12 --> 

        </div> <!-- /.row-fluid -->

      </div> <!-- /.mission -->
      
      <div class="row-fluid section">
      
        <div class="span12">
          
          <h2 class="header"><span>Our Mision</span></h2>
          <p>Bertumbuh lewat komunitas</p>

          <p>Membuka kesempatan melayani untuk semua jemaat</p>

          <p>Menanamkan hati misi, sesuai hati Tuhan Yesus</p>

        </div> <!-- /.span12 --> 

      </div> <!-- /.row-fluid -->

      

      <div class="our-team">

        <h2 class="header"><span>Our team</span></h2>
        <% unless @users.empty? %>
          <% @users.each_with_index do |user, i|%>   
            <% if i%4 == 0 && i==0%>
              <div class="row-fluid">
            <% elsif i%4 == 0 %>
              </div><div class="row-fluid">
            <% end %>
            
              <div class="span3 member">
              
                <div class="image">
                  <% if user.avatar.exists? %>
                    <%= image_tag user.avatar.url(:medium) %>
                  <% else %>
                    <%= image_tag "author.jpg" %>
                  <% end %>
                </div> <!-- /.image -->

                <div class="info">
                  
                  <header>
                    <h3><%= user.fullname %></h3>
                    <span><%= user.position %></span>
                  </header>

                  <p><%= user.description %></p>
                  
                </div> <!-- /.info -->
                  
              </div> <!-- /.span3.member --> 
          <% end %>
        <% end %>

        <div class="row-fluid section">
      
        <div class="span12">
          
          <h2 class="header"><span>Our Locations</span></h2>

          <table class="pink striped">
            <tr>
              <th>Nama</th>
              <th>Alamat</th>
              <th>Telepon</th>
              <th>Kota</th>
              <th>Provinsi</th>
              <th>Ketua Youth</th>
              <th>Jml Youth</th>
              <th>Daerah</th>
              <th>Wilayah</th>
            </tr>
            <% if @churches.blank? %>
              <tr>
                <td colspan='10'>- belum ada data -</td>
              </tr>
            <% else %>
              <% @churches.each do |church| %>
                <tr>
                  <td><%= church.church_name %></td>
                  <td><%= church.address_allowed ? church.church_address : "-" %></td>
                  <td><%= church.address_allowed ? church.church_phone : "-" %></td>
                  <td><%= church.address_allowed ? church.church_city : "-" %></td>
                  <td><%= church.address_allowed ? church.church_province : "-" %></td>
                  <td><%= church.youth_leader %></td>
                  <td><%= church.youthers_count %></td>
                  <td><%= church.daerah %></td>
                  <td><%= church.wilayah %></td>
                </tr>
              <% end %>
            <% end %>
          </table>

        </div> <!-- /.span12 --> 

      </div> <!-- /.row-fluid -->

      </div> <!-- /.our-team -->

    </div> <!-- /.container -->

  </div> <!-- /.page-content -->