<div class="page-title">
    
    <div class="container">
      
      <h1 class="with-subtitle">About</h1>
      <span>A little about us</span>
        
    </div> <!-- /.container -->

  </div> <!-- /.page-title -->

  <div class="page-content">
    
    <div class="container">
      
      <div class="row-fluid section">
      
        <div class="span12">
          
          <h2 class="header"><span>Our Vision</span></h2>
          <p><strong>Aenean tincidunt mi quis diam tristique ut sagittis purus dictum. Nullam condimentum consectetur justo, id luctus quam molestie vel. Suspendisse pulvinar fermentum purus, scelerisque molestie ligula feugiat eu. Suspendisse pulvinar.</strong></p>

          <p>Scelerisque molestie ligula feugiat eu. Suspendisse pulvinar fermentum purus, molestie ligula feugiat eu. Suspendisse pulvinar fermentum purus, scelerisque molestie ligula feugiat eu. Nullam condimentum consectetur justo, id luctus quam molestie vel. </p>

        </div> <!-- /.span12 --> 

      </div> <!-- /.row-fluid -->

      <h2 class="header"><span>Our Mission</span></h2>
        
      <div class="mission section">
              
        <div class="row-fluid">
        
          <div class="span12">
            
            <p>We deliver precise stragetic <span>thinking</span> and marketing direction that can turn your concept from vision to reality. The main core of our <span>strategy</span> is achieving targeted and <span>measurable</span> results. We can help you plan all your marketing efforts!</p>

          </div> <!-- /.span12 --> 

        </div> <!-- /.row-fluid -->

      </div> <!-- /.mission -->

      <div class="our-team">

        <h2 class="header"><span>Our team</span></h2>
        
        <div class="row-fluid">    
          
          <div class="span3 member">
          
            <div class="image">
              <%= image_tag "staff/1.png", :alt => "Team 1" %>
            </div> <!-- /.image -->

            <div class="info">
              
              <header>
                <h3>Bapak Ketua</h3>
                <span>Ketua Youth Pusat</span>
              </header>

              <p>Etiam nec augue enim, ut pulvinar turpis. Mauris sed aliquet mauris. Pellentesque id tincidunt eros. Cum sociis natoque penatibus.</p>
              
            </div> <!-- /.info -->
              
          </div> <!-- /.span3.member --> 

          <div class="span3 member">
          
            <div class="image">
              
              <%= image_tag "staff/2.png", :alt => "Team 2" %>
            
            </div> <!-- /.image -->

            <div class="info">
              
              <header>
                <h3>Bapak Wakil Ketua</h3>
                <span>Wakil Ketua Youth Pusat</span>
              </header>

              <p>Etiam nec augue enim, ut pulvinar turpis. Mauris sed aliquet mauris. Pellentesque id tincidunt eros. Cum sociis natoque penatibus.</p>
              
            </div> <!-- /.info -->
            
          </div> <!-- /.span3.member --> 

          <div class="span3 member">
          
            <div class="image">
              
              <%= image_tag "staff/3.png", :alt => "Team 3" %>
            
            </div> <!-- /.image -->

            <div class="info">
              
              <header>
                <h3>Ibu Sekertaris</h3>
                <span>Sekertaris</span>
              </header>

              <p>Etiam nec augue enim, ut pulvinar turpis. Mauris sed aliquet mauris. Pellentesque id tincidunt eros. Cum sociis natoque penatibus.</p>
              
            </div> <!-- /.info -->
            
          </div> <!-- /.span3.member --> 

          <div class="span3 member">
          
            <div class="image">
              
              <%= image_tag "staff/4.png", :alt => "Team 4" %>
            
            </div> <!-- /.image -->

            <div class="info">
              
              <header>
                <h3>Ibu Bendahara</h3>
                <span>Bendahara</span>
              </header>

              <p>Etiam nec augue enim, ut pulvinar turpis. Mauris sed aliquet mauris. Pellentesque id tincidunt eros. Cum sociis natoque penatibus.</p>
              
            </div> <!-- /.info -->
            
          </div> <!-- /.span3.member --> 
          
        </div> <!-- /.row-fluid -->

        <div class="row-fluid">

          <div class="span3 member">
          
            <div class="image">
              <%= image_tag "staff/1.png", :alt => "Team 1" %>
            </div> <!-- /.image -->

            <div class="info">
              
              <header>
                <h3>Ray</h3>
                <span>Project Manager</span>
              </header>

              <p>Etiam nec augue enim, ut pulvinar turpis. Mauris sed aliquet mauris. Pellentesque id tincidunt eros. Cum sociis natoque penatibus.</p>
              
            </div> <!-- /.info -->
              
          </div> <!-- /.span3.member --> 

          <div class="span3 member">
          
            <div class="image">
              <%= image_tag "staff/2.png", :alt => "Team 2" %>
            </div> <!-- /.image -->

            <div class="info">
              
              <header>
                <h3>Bapak Pembina</h3>
                <span>Pembina</span>
              </header>

              <p>Etiam nec augue enim, ut pulvinar turpis. Mauris sed aliquet mauris. Pellentesque id tincidunt eros. Cum sociis natoque penatibus.</p>
              
            </div> <!-- /.info -->
              
          </div> <!-- /.span3.member --> 

        </div> <!-- /.row-fluid -->

      </div> <!-- /.our-team -->

    </div> <!-- /.container -->

  </div> <!-- /.page-content -->