<!DOCTYPE html>
<html>
<head>
  <title>KMGGP</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300italic,400italic,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="wrapper">

  <header class="main">

    <div class="container">

      <div class="row-fluid upper">

        <a class="logo" href="/"><%= image_tag 'logo-ggp.jpg', :style => "width: 75px;" %></a>

        <div class="contact">

          <ul class="clearfix none nmp">
            <li><%= image_tag "icon-mail.png", :alt => "admin@youthers.com" %>admin@kmggp.com</li>
            <li><%= image_tag "icon-phone.png", :alt => "+44 41 639 2459" %>+44 141 639 2459</li>
          </ul> 

        </div> <!-- /.contact --> 

      </div> <!-- /.row-fluid -->

      <div class="row-fluid lower">   

      <a class="hidden-desktop blue left button" data-target=".nav-collapse" data-toggle="collapse">Menu</a>

        <nav class="nav-collapse collapse">
          <ul class="clearfix none nmp inline">
            <li class="<%= active_link('home') %>"><%= link_to "Home", root_url %></li>
            <li class="<%= active_link('about') %>"><%= link_to "About", about_index_url %></a></li>
            <li class="<%= active_link('events') %>"><%= link_to "Events", events_url %></li>
            <% unless current_user.nil? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-target="#" data-toggle="dropdown">Site Management</a>
                <ul class="dropdown-menu">
                  <li class="<%= active_link('events') %>"><%= link_to "Majelis Daerah", admin_areas_url %></li>
                  <li class="<%= active_link('churches') %>"><%= link_to "Churches", admin_churches_url %></li>
                  <li class="<%= active_link('users') %>"><%= link_to "Users", admin_users_url %></li>
                  <li class="<%= active_link('events') %>"><%= link_to "Events", admin_events_url %></li>
                </ul>
              </li>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Login", "/admin" %></li>
            <% end %>
          </ul>
        </nav>

        <div class="social">

          <ul class="clearfix none nmp inline">
            <li><a href="#"><%= image_tag "icon-facebook.png", :alt => "Facebook" %></a></li>
            <li><a href="#"><%= image_tag "icon-twitter.png", :alt => "Twitter" %></a></li>
          </ul>

        </div> <!-- /.social -->

      </div> <!-- /.row-fluid -->
        
      <hr class="striped" />
            
    </div> <!-- /.container -->
  </header>

<%= yield %>

  <footer class="main">

    <div class="container">
      
      <div class="row-fluid">
        
        <div class="span6">
          
          <div class="row-fluid">
            
            <div class="span12">
              
              <div class="widget">
                
                <h3><span>About Us</span></h3>
                <p>kmggp adalah tempat gaulnya anak muda Kristen yang mau belajar untuk menjaga integritas dan dasar hidup dalam kebenaran.</p>
                
              </div> <!-- /.widget -->
                
            </div> <!-- /.span12 --> 
          
          </div> <!-- /.row-fluid -->

          <div class="row-fluid">

            <div class="span12">
              
                <div class="widget">
                  
                  <h3><span>Social</span></h3>

                  <ul class="inline nmp none social">
                    <li class="facebook"><a href="#"><%= image_tag "social/facebook.png", :alt => "twitter" %></a></li>
                    <li class="twitter"><a href="#"><%= image_tag "social/twitter.png", :alt => "Twitter" %></a></li>
                    <li class="rss"><a href="#"><%= image_tag "social/rss.png", :alt => "RSS" %></a></li>
                  </ul>
                  
                </div> <!-- /.widget -->
              
            </div> <!-- /.span12 --> 

          </div> <!-- /.row-fluid -->

        </div> <!-- /.span6 --> 

        <div class="span3">
              
            <div class="widget">
              
              <h3><span>Our Tweets</span></h3>

              <div id="twitter_update_list"></div>
              <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
              <script type="text/javascript" src="http://api.twitter.com/1/statuses/user_timeline.json?count=1&amp;exclude_replies=true&amp;screen_name=twitter&amp;callback=twitterCallback2"></script>
              
            </div> <!-- /.widget -->

        </div> <!-- /.span3 --> 

        <div class="span3 contact">
          
          <div class="widget">
            
            <h3><span>Contact Us</span></h3>

            <p>(021) 222 9918<br>
            admin@kmggp.com</p>
            <p>Jalan Kramat Soka No.4</p>
            
          </div> <!-- /.widget -->

        </div> <!-- /.span3 --> 

      </div> <!-- /.row-fluid -->

    </div> <!-- /.container --> 

    <div class="copyright clearfix">
      
      <div class="container">
        
        <div class="left">
          
          <p>&copy; Copyright KMGGP 2013</p>

        </div> <!-- /.left -->

        <div class="right">
          
          <nav>
            <ul class="none nmp inline">
              <li><%= link_to "Home", root_url %></li>
              <li><%= link_to "About", about_index_url %></li>
              <li><%= link_to "Events", events_url %></li>
              <li><%= link_to "Login", "/admin" %></li>
            </ul>
          </nav>

        </div> <!-- /.right -->

      </div> <!-- /.container -->

    </div> <!-- /.copyright -->

  </footer>

</div>

</body>
<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker({
      format: 'dd MM yyyy'
    });
  })
</script>
</html>
